<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kelan.smallscene.dao.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.kelan.smallscene.entity.Department">
    <constructor>
      <idArg column="SID" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="CODING" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="MODIFY_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="MAX_DEP_ID" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="SN" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    SID, CODING, NAME, MODIFY_TIME, MAX_DEP_ID, SN
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from department
    where SID = #{sid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from department
    where SID = #{sid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.kelan.smallscene.entity.Department">
    insert into department (SID, CODING, NAME, 
      MODIFY_TIME, MAX_DEP_ID, SN
      )
    values (#{sid,jdbcType=BIGINT}, #{coding,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{maxDepId,jdbcType=BIGINT}, #{sn,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kelan.smallscene.entity.Department">
    insert into department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        SID,
      </if>
      <if test="coding != null">
        CODING,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="maxDepId != null">
        MAX_DEP_ID,
      </if>
      <if test="sn != null">
        SN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=BIGINT},
      </if>
      <if test="coding != null">
        #{coding,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="maxDepId != null">
        #{maxDepId,jdbcType=BIGINT},
      </if>
      <if test="sn != null">
        #{sn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kelan.smallscene.entity.Department">
    update department
    <set>
      <if test="coding != null">
        CODING = #{coding,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="maxDepId != null">
        MAX_DEP_ID = #{maxDepId,jdbcType=BIGINT},
      </if>
      <if test="sn != null">
        SN = #{sn,jdbcType=VARCHAR},
      </if>
    </set>
    where SID = #{sid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kelan.smallscene.entity.Department">
    update department
    set CODING = #{coding,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      MAX_DEP_ID = #{maxDepId,jdbcType=BIGINT},
      SN = #{sn,jdbcType=VARCHAR}
    where SID = #{sid,jdbcType=BIGINT}
  </update>
</mapper>